.input {
  background-color: rgb(6, 6, 6);
  font-family: monospace;
}

.select {
  background-color: rgb(6, 6, 6);
  padding-left: 80px;
  padding-right: 80px;
  color: whitesmoke;
  justify-content: center;
  font-family: monospace;
  font-size: smaller;
}

.row {
  background-color: rgb(6, 6, 6);
}

.btn {
  color: orange;
  font-size: 25px;
  border-color: grey;
  font-family: monospace;
  min-width: 110px;
}

.btn2 {
    background-color: orange;
    color: black;
    font-size: 25px;
    font-family: monospace;
    font-weight: 700;
    border-color: black;
}

.btn3 {
   color: orange;
  font-size: 15px;
  border-color: grey;
  font-family: monospace;
  min-width: 110px;
}

.btn4 {
    background-color: orange;
    color: black;
    font-size: 15px;
    font-family: monospace;
    font-weight: 700;
    border-color: black;
}

.btn5 {
    background-color: orange;
    color: black;
    font-size: 18px;
    font-family: monospace;
    font-weight: 700;
}

body {
  background-color: rgb(6, 6, 6);
}

h1 {
  color: whitesmoke;
  align-items: center !important;
  font-family: monospace;
}
.h1View {
  padding-bottom: 20px;
  font-family: monospace;
}

li {
  list-style: none;
}

.mainHeader {
  color: orange;
  text-align: center;
  font-size: 50px;
  font-family: monospace;
  padding-bottom: 10px;
}

.img {
  padding-top: 30px;
}

.mainButtons {
  padding-top: 60px;
  font-family: monospace;
}

.mainFavs {
  padding-bottom: 20px;
  color: whitesmoke;
  font-family: monospace;
  font-size: 50px;
}

.selectMuscle {
  padding-top: 20px;
  padding-bottom: 20px;
}

.login {
  padding-bottom: 3px;
}
