@media (max-width: 768px) {
  .select {
    padding: 10px;
  }

  .selectMuscle {
    font-size: 24px;
  }

  .muscleBtn {
    font-size: 14px;
  }
    .exerciseName {
    font-size: 1.2rem;
  }

  .h1View {
    font-size: 2.5rem;
  }

  .set {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .btn7 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }


}

@media (min-width: 768px) {
  .select {
    padding: 30px;
      max-width: 768px;
    margin: 0 auto;
  }


  .muscleBtn {
    font-size: 18px;
  }
  .imgNav {
    max-width: 50%;
  }
  

}

.input {
  background-color: rgb(6, 6, 6);
  font-family: monospace;
  color: whitesmoke;
}

.select {
  background-color: rgb(6, 6, 6);
  padding-left: 80px;
  padding-right: 80px;
  color: whitesmoke;
  justify-content: center;
  font-family: monospace;
  font-size: smaller;
  
}

.row {
  background-color: rgb(6, 6, 6);
}

.btn {
  color: rgb(241, 135, 6);
  font-size: 25px;
  border-color: grey;
  font-family: monospace;

  min-width: 110px;
}

.btn2 {
  background-color: rgb(241, 135, 6);
  color: black;
  font-size: 25px;
  font-family: monospace;
  font-weight: 700;
  border-color: black;
  box-shadow: 10px 5px 5px rgb(6, 6, 6);
}

.btn3 {
  color: rgb(241, 135, 6);
  font-size: 15px;
  border-color: grey;
  font-family: monospace;
  min-width: 140px;
  min-height: 50px;
  vertical-align: middle;
  box-shadow: 5px 2px 2px rgb(241, 135, 6);
}

.muscleBtn {
  color: rgb(241, 135, 6);
  font-size: 17px;
  border-color: grey;
  font-family: monospace;
  min-width: 140px;
  min-height: 50px;
  vertical-align: middle;
  padding-top: 25px;
  box-shadow: 5px 2px 2px rgb(241, 135, 6);
}

.btn4 {
  background-color: rgb(241, 135, 6);
  color: black;
  font-size: 15px;
  font-family: monospace;
  font-weight: 700;
  border-color: black;
  min-width: 140px;
  margin: 10px;
  min-height: 50px;
}

.btn5 {
  background-color: rgb(241, 135, 6);
  color: black;
  font-size: 18px;
  font-family: monospace;
  font-weight: 700;

  box-shadow: 10px 5px 5px grey;
}

.btn6 {
  color: rgb(241, 135, 6);
  font-size: 15px;
  border-color: grey;
  font-family: monospace;
  box-shadow: 5px 2px 2px rgb(241, 135, 6);
}

.btn7 {
  color: rgb(241, 135, 6);
  font-size: 15px;
  font-family: monospace;
}

.inputView {
  background-color: rgb(6, 6, 6);
}

body {
  background-color: rgb(6, 6, 6);
}

h1 {
  color: whitesmoke;
  align-items: center !important;
  font-family: monospace;
  font-size: 20px;
}

.about {
  color: rgb(241, 135, 6);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.aboutWelcome {
  font-size: 1.2rem;
}

.h1View {
  padding-bottom: 10px;
  padding-top: 20px;
  font-size: 45px;
}

li {
  list-style: none;
}

.aboutLi {
  list-style: circle;
  line-height: 1.8rem;
  color: whitesmoke;
  font-size: 1.2rem;
}

.mainHeader {
  color: rgb(241, 135, 6);
  font-size: 50px;
  font-family: monospace;
  padding-bottom: 10px;
}

.navHeader {
  color: rgb(241, 135, 6);
  font-size: 22px;
  font-family: monospace;
  padding-bottom: 10px;
  padding-top: 15px;
  padding-left: 10px;
}

/* .imgNav {
  height: 50px;
} */

.navSubheader {
  color: whitesmoke;
  font-size: 22px;
  font-family: monospace;
  padding-bottom: 30px;
}

.img {
  padding-top: 30px;
  max-width: 60%;
  height: auto;
}


/* .imgNav {
  max-width: 20%;
  height: auto;
  padding-bottom: 15%;
} */

.mainButtons {
  padding-top: 60px;
  font-family: monospace;
}

.mainFavs {
  padding-bottom: 20px;
  color: whitesmoke;
  font-family: monospace;
  font-size: 50px;
}

.selectMuscle {
  padding-bottom: 20px;
}

.selectMuscleTop {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 30px;
  color: whitesmoke;
  justify-content: center;
  font-family: monospace;
}

.login {
  padding-bottom: 3px;
}

.set {
  font-size: 10px;
  padding: 1px 3px !important;
}

.selectExercise {
  padding-bottom: 30px;
}

.exerciseName {
  color: rgb(241, 135, 6);
  font-family: monospace;
  font-size: 17px;
}

.error {
  color: rgb(190, 39, 39);
  font-size: 0.8em;
  margin-top: 0.5em;
}
